

.dialog {
    margin-left: 30px;
    color: #aa602b;
    text-decoration: none;
}
.active {
    color: white;
    text-shadow: 2px 2px 0 black;
}
.container {
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}