

.dialog {
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    color: #000c17;
}
.dialog:hover {
    color: #00364d;
}
.active {
    color: grey;
    font-weight: 700;
    border-left: 2px solid #54caff;
}
.container {
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid white;

}