.usersPhoto {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}
/*1100 - 30 = 1170 % 4 => 1160 / 4 = 290*/
.usersContainer {
    margin-top: 10px;
    display: grid;
    width: 1100px;
    grid-template-columns: 267px 267px 267px 267px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}
.userContainer {
    /*border: 1px solid red;*/
    border-radius: 5px;
    box-shadow: 0 2px 5px 3px grey;
    display: grid;
    grid-template-areas:
"userImage userInfo"
"userImage isFollow";
}
.userImage {
    width: 100px;
    height: 100px;
    grid-area: userImage;
}
.userImage img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.userInfo {
    grid-area: userInfo;
    height: 70px;
    width: 167px;
}
.userInfo * {
    /*border: 1px solid black;*/
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    width: 167px;
    overflow: hidden;
}
.isFollow {
    grid-area: isFollow;
    display: flex;
    justify-content: end;
    align-items: end;
}
