.header {
  grid-area: header;
  background-color: #FFDEAD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*display: grid;*/
  /*grid-template-rows: 1fr;*/
  /*grid-template-columns: 1fr 10fr 1fr;*/
  /*grid-template-areas:*/
/*"logo empty userInterface";*/
}
.header img {
  /*grid-area: "logo";*/
  /*width: 70px;*/
  /*height: 50%;*/
}
.empty {
  line-height: 100%;
  /*grid-area: "empty";*/
}
.loginBlock {
  /*grid-area: "userInterface";*/
  /*float: right;*/
  /*height: 100%;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  border: 1px solid green;
  height: 100%;
}
.authUserBlock {
  height: 100%;
}