.header {
  grid-area: header;
  background-color: 	#FFDEAD;
}
.header img {
  width: 70px;
}
.loginBlock {
  float: right;
}
.loginBlock * {
  color: white;
  text-decoration: none;
  /*margin: 30px;*/
}