.header {
  grid-area: header;
  background-color: #f1f1f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.logoBlock {
  height: 60px;
  width: 60px;
  background-image: url("https://thumbnailer.mixcloud.com/unsafe/900x900/extaudio/a/1/8/3/28b3-733c-4ec3-ab72-d2ce69f31e7b.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 50px;
}
.loginBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userImage img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}