.dialogsFull {
    display: grid;
    grid-template-columns: 2fr 10fr;
    min-height: 800px;
}
.dialogsList {
    background-color: #efefef;
}

.messages {
    background-color: #ffffff;
}
.message {
    padding: 10px;
}


